root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.{js,json}]
indent_size = 2

[*.xml]
indent_size = 4

[*.{m,h}]
indent_size = 4

[*.java]
indent_size = 4
